
body{
    background:#ffe374;
}
/* wrap */
.wrap{

}
/* header */
.header{
    width:100%;
    background:#ffe374;
}
.header.fixed{
    position:fixed;
    top:0px;
}
/* header-tnb */
.tnb{
    padding:40px 0;
    margin:0 auto;
    width:450px;
}
.tnb::after{
    content:"";
    display:block;
    clear:both;
}
.tnb li{
    float:left;
}
.tnb li a{
    display:block;
    width:150px;
    color:#40597d;
    letter-spacing:1px;
    font-weight:700;
    font-size:17px;
    text-align:center;
} 
.tnb li a:hover{
    color:#fff;
    transition:all .3s;
}
/* visualwrap */
.visualwrap{
    height:644px;
    background:#40597d;
}
/* visual */
.visual{

}
.visual img{
    display:block;
    margin:0 auto;
    padding-top:100px;    
    max-width:318px;
}
.visual h1{
    position:relative;
    bottom:36px;
    color:#fff;
    font-size:60px;
    font-weight:700;
    text-align:center;
}
.visual h1::after{
    content:"";
    display:block;
    margin:15px auto 0;
    width:250px;
    height:5px;
    background:#fff;

}
.visual span{
    display:block;
    color:#fff;
    font-size:18px;
    text-align:center;
}

/* container1 */
.container1{
    background:#fff;
}
/* container1-portfolio */
.portfolio{
    padding:140px 0;
}
.portfolio h2{
    padding-bottom:26px;
    font-size:43px;
    font-weight:700;
    text-align:center;
}
.portfolio h2::after{
    content:"";
    display:block;
    margin:15px auto 0;
    width:250px;
    height:5px;
    background:#000;

}
/* portfolio-gallery */
.gallery{
    margin:0 auto;
    max-width:1500px;
}
.gallery::after{
    content:"";
    display:block;
    clear:both;
}
.gallery li{
    float:left;
    padding:50px;
    
}
/* .gallery li a{
    display:block;
    position:relative;
    overflow:hidden;
    height:300px;
    box-shadow:5px 5px 10px #cccccc;
}
.gallery li a::before{
    content:"";
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px;
    width:100px;
    height:100px;
    color:#fff;
    background:url(../zoom-plus-sign.png) no-repeat;
    background-size:100px;
}
.gallery li a::after{
    content:"";
    position:absolute;
    bottom:-400px;
    left:0;
    width:400px;
    height:100%;
    background:#000; 
    opacity:0;
    transition:all .5s;
}

.gallery li:hover a::after{
    bottom:0;
    opacity:0.5;
}
.gallery li:hover a::before{
    display:block;
    z-index:3;
} */
.gallery img{
    width:400px;
}

/* container2 */
.container2{
    /* height:604px; */
    background:#fff;
}
/* container2-h2 */
.container2 h2{
    padding-top:100px;
    color:#000;
    font-size:43px;
    font-weight:700;
    text-align:center;
}
.container2 h2::after{
    content:"";
    display:block;
    margin:15px auto 0;
    width:250px;
    height:5px;
    background:#000;
}
/* container2-skill */
.skill{
    margin:0 auto;
    padding:100px 0;
    max-width:1120px;
}
.skill::after{
    content:"";
    display:block;
    clear:both;
}
.skill li{
    float:left;
    margin:20px 40px;
    transition:all .5s;
}
.skill li p{
    color:#000;
    text-align:center;
    font-size:20px;
    letter-spacing:5px;
}
.skill li:hover{
    transform:scale(1.2,1.2)
}
/* skill-s1~s8 */
.skill li span{
    display:block;
    width:200px;
    height:200px;
}
.s1{
    background:url(../html5.png) no-repeat 0 0;
    background-size:200px;
}
.s2{
    background:url(../css3.png) no-repeat 0 0;
    background-size:200px;
}
.s3{
    background:url(../javascript.png) no-repeat 0 0;
    background-size:200px;
}
.s4{
    background:url(../jquery.png) no-repeat 0 0;
    background-size:200px;

}
.s5{
    background:url(../photoshop.png) no-repeat 0 0;
    background-size:200px;
}
.s6{
    background:url(../illustrator.png) no-repeat 0 0;
    background-size:200px;
}
.s7{
    background:url(../github.png) no-repeat 0 0;
    background-size:200px;
}
.s8{
    background:url(../wordpress.png) no-repeat 0 0;
    background-size:200px;
}

/* footer */
.footer{
    background:#ffe374;
}
.contact{
    margin:0 auto;
    padding:10px 0;
    max-width:548px;
}
.contact::after{
    content:"";
    display:block;
    clear:both;
}
.contact li{
    float:left;
    padding:20px 0;
}
.contact li span{
    display:block;
    padding:16px 20px 16px 66px;
    color:#40597d;
    font-size:15px;
    font-weight:600;
    text-align:center;
    letter-spacing:3px;
}
.c1{
    background:url(../closed-envelope-circle.png) no-repeat 14px 50%;
    background-size:40px;
}
.c2{
    background:url(../phone-symbol-of-an-auricular-inside-a-circle.png) no-repeat 14px 50%;
    background-size:40px;
}

/* mediaquery */
@media (max-width:1500px){
    /* gallery */
    .gallery{
        width:1000px;
    }
}
@media (max-width:1220px){
    .skill{
        width:100%;
    }
    .skill li span{
        width:160px;
        height:160px;
    }
    .s1,.s2,.s3,.s4,.s5,.s6{
        background-size:160px;
    }
}
@media (max-width:1072px){
    /* visual */
    .visual h1{
        font-size:50px;
    }
    .visual span{
        font-size:24px;
    }
    /* container1-portfolio */
    .portfolio h2{
        font-size:33px;
    }
    .gallery{
        width:880px;
    }
    .gallery li{
        padding:20px;
    }
    /* container2 */
    .container2 h2{
        font-size:33px;
    }
    .skill{
        
    }
    .skill li{
        width:160px;
        height:160px;
    }
    /* skill s1~s6 */
    .s1,.s2,.s3,.s4,.s5,.s6{
        background-size:160px;
    }
}
@media (max-width:1000px){
    .gallery{
        width:auto;
    }
    
}
