
/* visual */
.visual{
    width:100%;
    height:697px;
    background:url(../images/main_visual.png) no-repeat 50% 0;
}
/* container */
.container{
    width:1100px;
    height:480px;
    margin:0 auto;
    border:1px solid #ededed;
}

/* iconbox */
.iconbox{
    height:232px;
    border-bottom:1px solid #ededed;
}
.iconbox::after{
    content:"";
    display:block;
    clear:both;
}
.iconbox a{
    display:block;
    position:relative;
    float:left;
    width:274px;
    height:100%;
    border-right:1px solid #ededed;
}
.iconbox a:last-child{
    border-right:none;
}
/* iconbox-icon1~4 */
.icon_1 span{
    background:url(../images/ico_01.png) no-repeat 50% 0;
}
.icon_2 span{
    background:url(../images/ico_02.png) no-repeat 50% 0;
}
.icon_3 span{
    background:url(../images/ico_03.png) no-repeat 50% 0;
}
.icon_4 span{
    background:url(../images/ico_04.png) no-repeat 50% 0;
}
.iconbox a span{
    position:absolute;
    top:50%;
    left:50%;
    display:inline-block;
    padding:50px 20px 0;
    transform:translate(-50%,-50%);
}
/* qmenu */
.qmenu{
    height:248px;
}
.qmenu::after{
    content:"";
    display:block;
    clear:both;
}
/* qmenu-more */
.more::after{
    content:"+";
    display:inline-block;
    padding-left:4px;
}

/* qmenu-info */
.info{
    position:relative;
    display:inline-block;
    width:274px;
    height:248px;
    padding:50px 36px;  
    border-right:1px solid #ededed; 
}
.info h2{
    padding-bottom:43px;
}
.info li a{
    display:inline-block;
    max-width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-bottom:10px;
}
/* info-more */
.more{
    position:absolute;
    top:53px;
    right:39px;
}

/* qmenu-qna */
.qna{
    position:relative;
    float:left;
    width:274px;
    height:248px; 
    padding:50px 36px;
    border-right:1px solid #ededed;
}
.qna h2{
    padding-bottom:43px;
}
.qna li a{
    display:inline-block;
    max-width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-bottom:10px;
}
/* q&a-more */
.more{
    position:absolute;
    top:53px;
    right:39px;
}

/* qmemu-gallery */
.gallery{
    position:relative;
    float:right;
    width:549px;
    height:248px;
    padding:50px 36px;
}
.gallery h2{
    padding-bottom:43px;
}
.gallery .more{
    position:absolute;
    top:53px;
    right:39px;
}
